html,body{height:100%;overflow:hidden;}
body{background-color:#122B40;}
ul,li{list-style: none;padding: 0;margin: 0;}
.body{width:90%;margin-left:5%;margin-top:3%;height:90%;background-color:#F1F1F1;overflow: scroll;}
