/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 5px;
    height: 3px;
    background-color: #ffffff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #ffffff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:green;
}

table,tr,td{margin: 0;padding: 0;}
html,body{height:100%;overflow:hidden;font-family: "黑体";}
body{background-color:#122B40;}
ul,li{list-style: none;padding: 0;margin: 0;}
.body{width:80%;margin-left:10%;margin-top:1%;height:90%;background-color:#ebebee;overflow: hidden;overflow-y: auto;border: 0}

.body .header{width:90%; margin:1rem 5%;line-height:3rem}
.body .header span{color:#333333;font-weight:bold;font-size:3rem}
.body .header .chargeback{background-color: #d64f4b;color:#ffffff;padding:0.3rem 1rem;border-radius:0.5rem;
font-weight:bold;float:right;cursor: pointer;font-size:2rem}
.body .header .chargeback:hover{background-color: #c94844}

.products{width:90%; margin-left: 5%;height:4rem;}
.products .category{float:left;border:1px solid #cccccc;margin-left:0.3rem;padding:0.5rem 0.5rem;margin-top:0.5rem;background-color:#edeef2;
color: #333333;border-radius: 0.5rem;font-size:1.4rem;box-shadow:0 0 2rem 0 #ffffff inset;cursor: pointer;}

.body .containers{width:90%;margin:1rem 5%;border-bottom:1px solid #cccccc;
  border-right:1px solid #cccccc;border-left:1px solid #cccccc;}
.body .containers .cashItem,.body .containers .theme{width:100%;background-color:#f0f0f0;}
.body .containers .theme tr td{border: 1px solid #cccccc;color:#333333;padding:0.8rem 0;font-weight: bold;}
.box{background-color:red;height:16rem;overflow:hidden;overflow: auto;background-color: #f9f9f9}
.body .containers .cashItem{background-color: #f9f9f9}
.body .containers .cashItem tr td{border: 1px solid #cccccc;color:#333333;padding:0.3rem 0;}
.body .containers tr td:nth-of-type(1){width:5%;}
.body .containers tr td:nth-of-type(2){width:20%;}
.body .containers tr td:nth-of-type(3){width:20%;}
.body .containers tr td:nth-of-type(4){width:20%;}
.body .containers tr td:nth-of-type(5){width:10%;}
.body .containers tr td:nth-of-type(6){width:10%;}
.body .containers tr td:nth-of-type(7){width:10%;text-align: center;}
.body .containers tr td:nth-of-type(7) a{padding:0.3rem 1rem;background-color: #c94844;color:#ffffff;border-radius: 0.2rem;}

.footers{width:90%; margin:1rem 5%;}
.footers .count{float: left;width:20%;height:10rem;line-height:5rem;text-align:left;font-size: 2.4rem;color:#444444;font-weight: bold;}
.footers .count span:nth-of-type(2){color: #a94442}
.footers .payways{width:15%;float:left;background-color: #ffffff;}
.footers .payways ul li{padding:0.5rem 3rem;box-shadow:0 0 1px 1px #cccccc;}
.footers .payways ul li:last-child{border-bottom:1px solid #999999;}
.footers .entervip,.footers .accounts{width:18%;float: left;margin-left:4%;}
.footers .entervip input{width:90%;height:3rem}
.footers .accounts input{padding:0.8rem 2rem;background-color: #c94844;color:#ffffff;border: 1px solid #ffffff;border-radius:0.5rem;}

.selected{background-color: #2e6ea5;color:#ffffff}

a:hover{text-decoration:none;cursor: pointer;}
/*商品类 商品*/
.category{position: relative;}
.category .product{position: absolute;left: 0;top:0;display: none;border:1px solid #cccccc;;background-color:#ffffff;padding:0.3rem 0;width:150%;text-align: center;margin-left:-25%;margin-top:3rem;}
.category .product li{border-bottom:1px solid #cccccc;}
.category .product li:last-child{border-bottom:0px solid #cccccc;}






//
